/*Main Document CSS*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    font-family: poppins, sans-serif, 'times new roman', times;
}
/* UTILITY CSS */

/* NAVBAR */
nav {
    font-size: large;
    display: flex; /* flexbox */
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(186, 57, 175);
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: rgb(108, 20, 101);
    font-size: 1.12rem;
}
nav ul li a:active {
    color: rgb(108, 20, 101); /* Adjusted active link color */
    font-weight: bold;
}
.left {
    font-size: 1.5rem;
}

/* HOME SECTION CSS */
.section1_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightsection1 {
    font-size: 3.5rem;
    flex: 1;
}
.leftsection1 {
    margin-left: 50px;
    width: 50%;
}
#domain {
    color: rgb(192, 24, 192);
}
.rightsection1 a {
    font-size: large;
    border: 2px solid rgb(222, 162, 225);
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}


/* ABOUT SECTION CSS */
.section2_about {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 80px 20px;
}
h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.leftsection2 {
    flex: 1;
    margin-right: 40px;
}
.rightsection2 {
    display: flex;
    justify-content: center;
    width: 40%;
}
.rightsection2 img {
    max-width: 100%;
}
.sub-nav {
    background: none;
}
.sub-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}
.sub-nav ul li {
    margin: 0 60px;
}
.sub-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.sub-nav ul li a:hover {
    color: rgb(187, 55, 176);
    font-size: 1.2rem;
}
.sub-nav ul li a:active {
    color: rgb(187, 55, 176);
    font-size: 1.2rem;
}
.content-section {
    margin-top: 20px;
}
.hidden {
    display: none;
}
hr {
    border: 1px solid rgb(192, 24, 192);
}
h3 {
    color: rgb(187, 55, 176);
    margin-top: 10px;
}
#educationtable {
    border-spacing: 14px;
    border: 2px solid rgb(59 2 55);
    text-align: center;
}
#achievements {
    padding: 10PX;
}



/* SERVICES SECTION CSS */

.section3_services {
    padding: 50px;
    margin: 80px 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 35px;
    margin: 80px 20px;
}

.service {
    flex: 1;
    background-color: #434141;
    padding: 40px;
    color: white; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.service:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: rgba(230, 90, 230, 0.5);
}

.service i {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.service h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px; /* Adjust margin */
}

.service p {
    color: white; /* Set content text color to white */
    line-height: 1.6;
    margin-bottom: 10px; /* Adjust margin */
}

.service a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease; /* Smooth color transition */
}

.service a:hover {
    text-decoration: underline;
    color: rgb(187, 55, 176); /* Adjust hover color */
}


/*  PROJECT SECTION CSS */

.section4_projects {
    justify-content: space-between;
    padding: 50px;
    margin: 80px 20px;
}

.section4_projects h2 {
    font-size: 3rem;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.project {
    width: 18%;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(57, 56, 56, 0.9);
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
    border-radius: 5px;
}

.project::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: rgb(0, 0, 0); /* vertical line for each project*/
    transform: translateX(-50%);
}

.project-content {
    text-align: left;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin: 10px 0 0;
}

.project::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0); /* circle border*/
    border-radius: 50%;
    transform: translateX(-50%);
}

.projects-container::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(187, 55, 176);
}



/* CONTACT SECTION CSS */
.section5_contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
    /* background-color: rgb(33, 33, 33); */
    padding: 20px;
    border-radius: 10px;
}

.contact-icons {
    width: 40%;
    text-align: left;
    padding: 20px;
}

.contact-icons h2 {
    margin-bottom: 20px;
    color: rgb(187, 55, 176);
    font-size: 2.5rem;
}

.contact-icons p {
    font-size: 1.5rem;
    margin: 10px;
}

.contact-icons a {
    font-size: 1.5rem;
    margin: 10px;
}


.contact-form {
    width: 50%;
    border: 2px solid rgb(162, 11, 130);
    padding: 50px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(192, 24, 192);
    border-radius: 5px;
    background-color: rgb(23, 23, 23);
    color: white;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(192, 24, 192);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
}

.contact-form button:hover {
    background-color: rgb(145, 18, 145);
}

.copyright {
    background-color: rgba(255, 114, 255, 0.681);
    text-align: center;
    padding: 10px;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    header nav .right ul {
        flex-direction: column;
        align-items: flex-start;
        font-size: small;
    }

    .section1_home, .section2_about {
        flex-direction: column;
    }

    .section1_home img {
        max-width: 400px;
    }

    .rightsection1 {
        margin: 20px;
        line-height: 2;
    }
    
    .rightsection1 a {
        font-size: medium;
    }

    .services-container, .projects-container {
        flex-direction: column;
    }

    .section5_contact {
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    /* Adjust sub-navigation for small screens */
    .sub-nav {
        flex-direction: column;
        align-items: center;
    }

    .sub-nav ul li {
        margin: 0 15px;;
    }

    /* Reduce font size */
    body {
        font-size: 0.8rem;
    }

    .section1_home .rightsection1 {
        font-size: 0.9rem;
    }

    /* Hide uniform.png on small screens */
    .rightsection2 img {
        display: none;
    }
}
